# 1. Business problem

About this file

Add Suggestion
This dataset provides information on customer spending habits, product categories, geographical locations, and revenue generated from sales

Date: Date of the sale. (Date)
Year: Year of the sale. (Integer)
Month: Month of the sale. (Integer)
Customer Age: Age of the customer. (Integer)
Customer Gender: Gender of the customer. (String)
Country: Country of the customer. (String)
State: State of the customer. (String)
Product Category: Category of the product. (String)
Sub Category: Sub-category of the product. (String)
Quantity: Quantity of the product sold/purchased. (Integer)
Unit Cost: Cost of the product per unit. (Float)
Unit Cost: Cost of the product per unit. (Float)
Unit Price: Price of the product per unit. (Float)
Revenue: Total revenue generated from the sale. (Float)
Column1: Unknown. (Unknown)

# 2. Load data

## 2.1. Input data

In [25]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

path = '/Users/mac/Desktop/Project/upsale/SalesForCourse_quizz_table.csv'

df = pd.read_csv(path)

df.head()

,index,Date,Year,Month,Customer Age,Customer Gender,Country,State,Product Category,Sub Category,Quantity,Unit Cost,Unit Price,Cost,Revenue
0,0,2/19/16,2016.0,February,29.0,F,United States,Washington,Accessories,Tires and Tubes,1.0,80.00,109.000000,80.0,109.0
1,1,2/20/16,2016.0,February,29.0,F,United States,Washington,Clothing,Gloves,2.0,24.50,28.500000,49.0,57.0
2,2,2/27/16,2016.0,February,29.0,F,United States,Washington,Accessories,Tires and Tubes,3.0,3.67,5.000000,11.0,15.0
3,3,3/12/16,2016.0,March,29.0,F,United States,Washington,Accessories,Tires and Tubes,2.0,87.50,116.500000,175.0,233.0
4,4,3/12/16,2016.0,March,29.0,F,United States,Washington,Accessories,Tires and Tubes,3.0,35.00,41.666667,105.0,125.0

In [26]:
df.shape

(34867, 15)

In [27]:
df_infor = pd.DataFrame(df.dtypes,columns = ['dtypes'])
df_infor['unique'] = df.nunique().values
df_infor['null'] = df.isnull().sum().values
print(df_infor)

                   dtypes  unique  null
index               int64   34867     0
Date               object     576     1
Year              float64       2     1
Month              object      12     1
Customer Age      float64      70     1
Customer Gender    object       2     1
Country            object       4     1
State              object      45     1
Product Category   object       3     1
Sub Category       object      17     1
Quantity          float64       3     1
Unit Cost         float64     882     1
Unit Price        float64    5175     1
Cost              float64     417     1
Revenue           float64    3023     0

## 2.2. Clean data

In [28]:
df_cleaned = df.dropna()

In [29]:
df_infor = pd.DataFrame(df_cleaned.dtypes,columns = ['dtypes'])
df_infor['unique'] = df_cleaned.nunique().values
df_infor['null'] = df_cleaned.isnull().sum().values
print(df_infor)

                   dtypes  unique  null
index               int64   34866     0
Date               object     576     0
Year              float64       2     0
Month              object      12     0
Customer Age      float64      70     0
Customer Gender    object       2     0
Country            object       4     0
State              object      45     0
Product Category   object       3     0
Sub Category       object      17     0
Quantity          float64       3     0
Unit Cost         float64     882     0
Unit Price        float64    5175     0
Cost              float64     417     0
Revenue           float64    3022     0

In [30]:
# Removing duplicates
df_cleaned.drop_duplicates(inplace = True)

/var/folders/h5/nmfc3kr55375y_h4_5k7n7nh0000gn/T/ipykernel_1379/1770713889.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned.drop_duplicates(inplace = True)

In [32]:
df_cleaned.loc[:, 'Profit'] = df_cleaned['Revenue'] - df_cleaned['Cost']

In [34]:
df_cleaned = df_cleaned.drop(columns = 'index', axis = 1)

In [37]:
df_cleaned.head()

,Date,Year,Month,Customer Age,Customer Gender,Country,State,Product Category,Sub Category,Quantity,Unit Cost,Unit Price,Cost,Revenue,Profit
0,2/19/16,2016.0,February,29.0,F,United States,Washington,Accessories,Tires and Tubes,1.0,80.00,109.000000,80.0,109.0,29.0
1,2/20/16,2016.0,February,29.0,F,United States,Washington,Clothing,Gloves,2.0,24.50,28.500000,49.0,57.0,8.0
2,2/27/16,2016.0,February,29.0,F,United States,Washington,Accessories,Tires and Tubes,3.0,3.67,5.000000,11.0,15.0,4.0
3,3/12/16,2016.0,March,29.0,F,United States,Washington,Accessories,Tires and Tubes,2.0,87.50,116.500000,175.0,233.0,58.0
4,3/12/16,2016.0,March,29.0,F,United States,Washington,Accessories,Tires and Tubes,3.0,35.00,41.666667,105.0,125.0,20.0

# 3. EDA

### 3.1. ANALYSIS RFM(RECENCY, FREQUENCY, MONETARY)

In [43]:
import pandas as pd

# Giả sử df_cleaned đã được định nghĩa trước đó và cột 'Date' là kiểu datetime
df_cleaned['Date'] = pd.to_datetime(df_cleaned['Date'])

# Tính latest_date
latest_date = df_cleaned['Date'].max() + pd.Timedelta(days=1)

# Nhóm và tính toán RFM
rfm = df_cleaned.groupby('Product Category').agg({
    'Date': lambda x: (latest_date - x.max()).days,
    'Quantity': 'count',
    'Profit': 'sum'
}).reset_index()

# Đổi tên cột
rfm.rename(columns={
    'Date': 'Recency',
    'Quantity': 'Frequency',
    'Profit': 'MonetaryValue'
}, inplace=True)

print(rfm)

  Product Category  Recency  Frequency  MonetaryValue
0      Accessories        1      22534      1378769.0
1            Bikes       32       7093       337601.0
2         Clothing        1       5239       545232.0

/var/folders/h5/nmfc3kr55375y_h4_5k7n7nh0000gn/T/ipykernel_1379/1148452997.py:4: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df_cleaned['Date'] = pd.to_datetime(df_cleaned['Date'])

### 3.2. Data Standardization

In [44]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
rfm_scaled = scaler.fit_transform(rfm[['Recency', 'Frequency', 'MonetaryValue']])

rfm_scaled

ModuleNotFoundError: No module named 'sklearn'

In [45]:
pip install sklearn

Collecting sklearn
  Downloading sklearn-0.0.post12.tar.gz (2.6 kB)
  Preparing metadata (setup.py) ... error
  error: subprocess-exited-with-error

  × python setup.py egg_info did not run successfully.
  │ exit code: 1
  ╰─> [15 lines of output]
      The 'sklearn' PyPI package is deprecated, use 'scikit-learn'
      rather than 'sklearn' for pip commands.

      Here is how to fix this error in the main use cases:
      - use 'pip install scikit-learn' rather than 'pip install sklearn'
      - replace 'sklearn' by 'scikit-learn' in your pip requirements files
        (requirements.txt, setup.py, setup.cfg, Pipfile, etc ...)
      - if the 'sklearn' package is used by one of your dependencies,
        it would be great if you take some time to track which package uses
        'sklearn' instead of 'scikit-learn' and report it to their issue tracker
      - as a last resort, set the environment variable
        SKLEARN_ALLOW_DEPRECATED_SKLEARN_PACKAGE_INSTALL=True to avoid this error

      More information is available at
      https://github.com/scikit-learn/sklearn-pypi-package
      [end of output]

  note: This error originates from a subprocess, and is likely not a problem with pip.
error: metadata-generation-failed

× Encountered error while generating package metadata.
╰─> See above for output.

note: This is an issue with the package mentioned above, not pip.
hint: See above for details.
Note: you may need to restart the kernel to use updated packages.